{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 50.43827220612109,
        "longitude": 30.349237918853763,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "My Home",
        "time_zone": "Europe/Kiev",
        "external_url": null,
        "internal_url": null
    }
}